{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "ssr": false,
        "fileName": false,
        "minify": true,
        "pure": true
      }
    ]
  ]
}